<!--filha do layout-->
{% extends "layout.html" %}

{% block content %}

    <div class="row">
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Dimension</th>
            </tr>
        </thead>
      <tbody>
        {% for location in locations%}
          <tr>
            <td>{{ location.name }}</td>
            <td>{{ location.type }}</td>
            <td>{{ location.dimension }}</td>

            <td>
              <a href=" /location_id/{{ location.id }}"
              class="btn btn-primary"> Location</a>
            </td>

          </tr> 
        {% endfor %} 
        </tbody>
        </table>
        </div>


{% endblock %} 