<header>
    <nav class="navbar navbar-expand-lg bg-light navbar-fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">API WoMakers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" style="height: 0px;">
            <ul class="nav navbar-nav">
              <li class=" nav-item">
                <a class="nav-link" href="/">Home </a>
              </li>
              <li class=" nav-item">
                <a class="nav-link" href="/list">Profiles List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/local">Location List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/episode">Episode List</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>